@m: ~ "(max-width: 719px)";
@t: ~ "(min-width: 720px)";
@d: ~ "(min-width: 1024px)";

@color_black: #111111;
@color_grey_dark: #282d30;
@color_grey_light: #dcdcdc;
@color_grey: #999999;
@color_white: #fff;
@color_red: #c4092f;
@color_green: #c4092f;


/*@import "header.less";*/

/*@font-face {
  font-family: Oswald;
  src: url("font/Oswald/Oswald-Light.ttf");
}*/

* {
  box-sizing: border-box;
}

body {
  margin: 0; 
  font-size: 14px;
}

body, input, textarea {
  font-family: 'Roboto', sans-serif;
}

.clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

.wrapper {
  padding: 0 10px;
  margin: 0 auto;
  @media @t {
    min-width: 720px;
    max-width: 980px;
  }
}

.container {
  .clearfix();
}

.row {
  margin: 0 -10px;  
}

.site-header {
  background: @color_grey_dark;
  color: @color_white;
  padding-bottom: 14px;
  margin-bottom: 20px;
  @media @t {
    padding-bottom: 0;
    margin-bottom: 53px;
  }
}

.site-logo {
  max-width: 297px;
  margin: 0 auto;
  @media @t {
    max-width: 496px;
  }
  a {
    display: inline-block;
    width: 100%;
    height: 63px; 
    position: relative;
    left: -20px;
    bottom: -15px;
    background: url(../img/site-logo.png) no-repeat center;
    background-size: contain;
    @media @t {
      left: -28px;
      bottom: -5px;
      max-width: none;
      height: 104px;
      background-image: url(../img/site-logo-big.png);
    }
  }
}

.copy {
  font-size: 11px;
  text-align: center;
}

.site-footer {
  background: @color_grey_dark;
  color: @color_white;
  padding: 36px 0;
}

.site-heading {
  @media @t {
    margin-bottom: 25px;
  }
  h1 {
    margin: 0;
    text-align: center;
    color: @color_grey_dark;
    font-size: 42px;
    font-weight: 700;
  }
}


.input-item {
  position: relative;
  padding-top: 30px;
  float: left;
  width: 50%;
  padding: 30px 10px 0;
  &--static {
    padding-top: 12px;
  }
  &--no-label {
    padding-top: 22px;
  }  
  @media @t {
    width: 33.333333%;
  }
  &--big {
    width: 100%;
    @media @t {
      width: 33.333333%;
    }
  }
  &--biggest {
    width: 100%;
  }
  input[type="text"] {
    display: block;
    width: 100%;
    border: 1px solid @color_grey_light;
    border-bottom-width: 2px;
    padding: 12px 8px;
    font-size: 12px;
    color: @color_black;
    &.is-active {
      & + label {
        bottom: auto;
        top: 0;
        cursor: default;
      }
    }
    &.is-focused {
      border-bottom-color: @color_black;      
    }
    outline: none;
    & + label {
      position: absolute;
      left: 12px;
      bottom: 0;
      padding: 12px 8px;
      font-size: 12px;
      color: @color_grey;
      cursor: text;
    }    
    &:hover {
      border-bottom-color: @color_red;
    }
    
  }
  textarea {
    display: block;
    width: 100%;
    border: 1px solid @color_grey_light;
    border-bottom-width: 2px;
    padding: 12px 8px;
    font-size: 12px;
    color: @color_black;
    outline: none;
    resize: vertical;
    & + label {
      position: absolute;
      left: 12px;
      bottom: 0;
      padding: 12px 8px;
      font-size: 12px;
      color: @color_grey;
    } 
    &.is-active {
      & + label {
        bottom: auto;
        top: 0;
      }
    }    
    &.is-focused {
      border-bottom-color: @color_black;      
    }
    &:hover {
      border-bottom-color: @color_red;
    }
  } 
  select {
    display: block;
    width: 100%;
    border: 1px solid @color_grey_light;
    border-bottom-width: 2px;
    padding: 12px 8px;
    font-size: 12px;
    color: @color_black;
    outline: none;
  }  
  .custom-select {
    position: relative;
    cursor: pointer;
    &.is-active {
      .custom-select__button {
        border-bottom-color: @color_black;
        &::before {
          border-top-width: 0;
          border-bottom-width: 6px;
          border-bottom-color: @color_black;
        }
      }
      .custom-select__container {
        display: block;
      }
    }
    &__button {
      color: #999999;
      font-size: 12px;
      padding: 12px 8px;
      border: 1px solid @color_grey_light;
      border-bottom-width: 2px;
      position: relative;
      &:hover {
        border-bottom-color: @color_red;
      }
      &::before {
        content: '';
        display: inline-block;
        width: 0;
        height: 0;
        border-style: solid;
        border-color: transparent;
        border-top-color: @color_black;
        border-width: 6px 6px 0;
        position: absolute;
        right: 16px;
        top: 50%;
        margin-top: -3px;
      }
    }
    &__container {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background: @color_white;
      border: 1px solid @color_grey_light;
      border-top-width: 0;
      z-index: 1;
      display: none;      
    }
    &__option {
      padding: 8px;
      font-size: 12px;
      color: #999999;
      &:hover {
        color: #222222;
      }
    }
  }
  button[type="submit"] {
    display: block;
    width: 100%;
    padding: 12px 8px;
    background: @color_red;
    color: @color_white;
    text-align: center;
    border: none;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    border-radius: 4px;
    &::after {
      content: '';
      display: inline-block;
      vertical-align: middle;
      margin-left: 2px;
      margin-bottom: 4px;
      width: 5px;
      height: 5px;
      border-top: 3px solid @color_white;
      border-right: 3px solid @color_white;
      transform: rotate(45deg);
    }
  }
  .label-like {
    font-size: 12px;
    color: @color_grey;
  }
}

.car-filter {
 margin-bottom: 52px;
  @media @t {
    margin-bottom: 40px;
  }
  @media @d {
    margin-bottom: 157px;
  }
}

.car-color {
  &__wrapper {
    .clearfix();
  }
  &__item {
    float: left;
    margin-right: 15px;
    &:last-child {
      margin-right: 0;
    }
    input {
      display: none;
      &:checked + label {
        border-color: @color_red;
      }
    }
    label {
      font-size: 0;
      display: inline-block;
      width: 28px;
      height: 28px;
      border: 4px solid transparent;      
      border-radius: 50%;
      cursor: pointer;      
    }
    span {
      display: inline-block;
      width: 100%;
      height: 100%;
      background: #000;
      border-radius: 50%;
    }
    &--white {
      span {
        background-color: #fff;        
        border: 1px solid #dddddd;
      }
    }
    &--black {
      span {
        background-color: #000;
      }
    }
    &--grey {
      span {
        background-color: #cbcbcc;
      }
    }
    &--red {
      span {
        background-color: #d84144;
      }
    }
    &--green {
      span {
        background-color: #89c600;
      }
    }    
  }
}

.car-table {
  @media @t {
    margin-bottom: 150px;
  }
  @media @d {
    margin-bottom: 312px;
  }
  &__header {
    color: @color_black;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    position: relative;
    padding-left: 15px;
    line-height: 1;
    margin: 0;
    margin-bottom: 26px;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      width: 5px;
      height: 100%;
      background: #8b9497;
    }
    @media @m {
      display: none;
    }
  }
  &__wrapper {
    @media @m {
      margin: 0 -10px;
    }
    @media @t {
      border-radius: 4px;
      overflow: hidden;
    }
  }
  &__title {    
    margin-bottom: 15px;
    max-width: 45%;
    @media @t {
      margin-bottom: 6px;
      white-space: nowrap; 
      overflow: hidden;
      text-overflow: ellipsis; 
      max-width: 95%;
    }
    @media @d {
      max-width: none;
    }
  }
  &__description {
    color: #8b9497;
    font-size: 13px;
    @media @m {
      margin-bottom: 15px;
    }
  }
  &__color {
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #000;
    font-size: 0;
    &--black {
      background: @color_black;
    }
    &--white {
      background: #fff;
      border: 1px solid #dddddd;
    }
    &--grey {
      background: #cbcbcc;
    }
    &--red {
      background: #d74345;
    }
    &--green {
      background: #88c504;
    }
    
  }
  .table {
    background: #f5f7f7;
    font-weight: 300;
    font-size: 14px;
    display: table;
    width: 100%;
    border-collapse: collapse;
    @media @t {
      font-size: 15px;
    }
    .tr {      
      border-bottom: 1px solid #e7eaeb;
      @media @m {
        position: relative;
        padding: 20px 20px 26px;
      }
      @media @t {
        display: table-row;
      }
      &.thead {
        background: @color_red;
        color: @color_white; 
        font-weight: 500;
        @media @m {
          display: none;
        }
      }
    }
    .th {  
      @media @t {
        display: table-cell;    
        padding: 14px 6px;
        &:first-child {
          padding-left: 14px;
          max-width: 260px;
        }
      }
      @media @d {
        &:first-child {
          max-width: 390px;
        }
      }
    }
    .td {      
      @media @t {
        border-bottom: 1px solid #e7eaeb;
        display: table-cell;
        padding: 6px;
        &:first-child {
          padding-left: 14px;
          max-width: 260px;
        }
      }
      @media @d {
        &:first-child {
          max-width: 390px;
        }
        padding: 8px 6px 6px;
      }
      &--price {
        white-space: nowrap;
        @media @m {
          position: absolute;
          top: 20px;
          right: 30px;
          max-width: 105px;
        }
      }
      &--color {
        @media @m {
          position: absolute;
          top: 20px;
          right: 140px;
        }
        @media @t {
          text-align: center;
        }
      }
      &--status {
        white-space: nowrap;
        @media @m {
          display: inline-block;
          margin-left: 20px;
        }
      }
      &--year {
        @media @m {
          display: inline-block;
        }
      }
      &--delete {
        @media @m {
          position: absolute;
          right: 20px;
          bottom: 18px;
        }
      }
      
    }
    button {
      background: @color_black;
      color: @color_white;
      border: none;
      padding: 8px 12px;
      border-radius: 20px;
      cursor: pointer;      
      outline: none;
      @media @t {
        background: none;
        color: #8b9497;
      }
      &:hover {
        background: @color_black;
        color: @color_white;
      }
    }
  }
  
}